# IntelliJ / Android Studio
.idea/
.kotlin/
*.iml
.gradle/
local.properties
/build/
/app/build/
/captures/
.externalNativeBuild/
.cxx/

# User-specific
*.hprof
.DS_Store

# Logs
*.log

# Sensitive Files
google-services.json
